body{
    font-family: sans-serif;
    margin:20px;
    padding:0;
    box-sizing: border-box;
    background-color: #f0ebd2;
    color: #6a5c57;
}
header{
    background-color: #fdd6b3;
    color:aliceblue;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px;
}
.logo {
    margin-bottom: 20px;
}
.logo-img {
    width: 130px;
    height: auto;
    display: block;
    margin: 0 auto;
}
nav ul {
    list-style-type: none;
    padding:0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 25px;
}
nav ul li a {
    color:#6a5c57;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}
nav ul li a:hover {
    color:#9e8764;
    text-decoration: none;
}
.main-cover{
    position: relative;
    color:#6a5c57;
    padding: 50px 20px;
    background-color: #f0f1f3;
    position:relative;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-cover-pic{
    width: 100%;
    height: auto;
}
.main-cover-text {
    max-width: 100%;
    margin: 0 auto;
    margin-top: -20px;
    margin-bottom: 10px;
}
.main-cover p {
    font-size: 20px;
    margin-bottom: 30px;
}
.main-cover .btn {
    padding:10px 30px;
    background-color: #6a5c57;
    color:#e3cdba;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    font-size: 20px;
    letter-spacing: 1px;
    position: absolute;
    bottom: 80px;
    justify-content: center;
    align-items: center;
    left:45%;
    transform: translateX(-50);
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.main-cover .btn:hover{
    background-color: #9e8764;
    color:#f0ebd2;
    transform: scale(1.05);
}
.sociallinks {
    text-align: center;
    padding: 40px 20px;
    background-color: #fdd6b3;
    color: #6a5c57;
}
.sociallinks h3 {
    font-size: 2em;
    margin-bottom: 20px;
}
.social-icons-here a{
    margin: 0 15px;
    display: inline-block;
}
.social-icons-here img {
    width: 40px;
    height: auto;
}
footer {
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #f0ebd2;
}