body{
    font-family: sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: #f0ebd2;
    color: #6a5c57;
}
header{
    background-color: #fdd6b3;
    color:aliceblue;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px;
}
.logo {
    margin-bottom: 20px;
}
.logo-img {
    width: 130px;
    height: auto;
    display: block;
    margin: 0 auto;
}
nav ul {
    list-style-type: none;
    padding:0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 25px;
}
nav ul li a {
    color:#6a5c57;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}
nav ul li a:hover {
    color:#9e8764;
    text-decoration: none;
}
.ContactUsna {
    color: #6a5c57;
    width:75%;
    margin: 20px;
    padding-left: 2%;
}
.ContactUsna h1 {
    margin-bottom: 30px;
}
.ContactUsna p {
    margin-bottom: 25px;
    font-size: 20px;
}
.ContactUsna ul {
    font-size: 18px;
    line-height: 30px;
}
.contact-form {
    margin-top: 50px;
    padding: 30px;
    background-color: #f0ebd2;
    color: #6a5c57;
    border-radius: 15px;
    margin-bottom: 50px;
}
.btn-submit {
    width: 100%;
    padding:4px;
    margin-top: 10px;
    background-color: #6a5c57;
    border-radius: 12px;
    color: #f0ebd2
}
.btn-submit:hover {
    background-color: #9e8764;
}
footer {
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #f0ebd2;
    color: #6a5c57;
    text-decoration: none;
}
